/******************************************
/* CSS
/*******************************************/
/* Fonts */
:root{
  --main-font: 'Rokkitt', serif;
  --secondary-font: 'Dosis', sans-serif;
}
/* Box Model Hack */
*{
  box-sizing: border-box;
}


h1{
  font-family: var(--main-font);
  margin-top: 10vh;
}

button, input{
  padding: 10px;
}

input{
  line-height: 1.2;
}
/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

html {
  height: 100%;
  margin: auto;
  width: 960px;
}

body{
  margin: 0px 5px;
  height: 100%;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99999;
  font-family: var(--secondary-font);
  font-size: 2em;
}



.background-image{
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  /* background-image: url('https://images.unsplash.com/photo-1583227061267-8428fb76fbfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=713&q=80'); */
  background-image: url('https://images.unsplash.com/photo-1597290282695-edc43d0e7129?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80');
  object-fit: contain;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}



.cards{
  display: flex;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  font-size: .8em;
  overflow: scroll !important;
  padding-top: 24px;
  width: 100%;
  margin: 0 auto;
}

.card-body{
  background-color: #2B0404;
  transition: 2s;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.card{
  transition: 0.3s;
  margin-top: 24px;
  padding: 0;

}


.card:hover {
  transform: scale(1.1);
  box-shadow: 15px 15px 15px 1px #0C0910;
  z-index: 3;
  border-color: #007bff !important;
}

.card button{
  position: relative;
  bottom: 10px;
}

/* .card img, .card-body{
  border: 3px solid red;
  width: 70%;
} */
.card{
  max-width: 300px;
}

/* img{
  height: 200px;
  width: 200px;
} */

@media screen and (-webkit-min-device-pixel-ratio:0) {

  input {
    font-size: 16px;
  }
}